body, html {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header{
	box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    height: 100%;
	width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-family: "Luna";
}
h2{
	text-align: center;
}

header h1 {
    margin-top: -55px;
	color: #fff;
	font-size: 80px;
	text-shadow: 2px 2px 8px #282828;
}

header p{
	font-size: 19px;
	margin-top: -45px;
}

header * {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}ï»¿

body p {
	color: black;
	text-align: center;
}

.cols
{
  padding: 50px 10px 5px 10px;
  line-height: 1.8;
}

.col1, .col2, .col3
{
  float: left;
  width: 30%;
  margin-right: 25px;
  background-color: #ffffff;
}
.col3
{
  margin-right: 5%;
}
.bar
{
  width: 100%;
  float: right;
  text-align: center;
}
.box{
	background-color: #dffbef;
  font-size: 15px;
  padding: 20px;
  margin: 0 0 15px 0;
}

.navcont{
	list-style: none;
	font-weight: 300;
	width: 80%
	margin: 0 auto;
	padding: 0;
	background-color: #dffbef;
	line-height: 65px;
}

nav li{
	display: inline-block;
	margin-left: 250px;
	position: relative;
}

nav a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover{
	color: #000;
}

.navigation::after{
	content: '';
	display: table;
	clear: both;
}
.navigation{
	background-color: #dffbef;
}

nav a::before{
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #444;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
}

nav a:hover::before{
	width: 100%;
}

img
{
	display: block;
  width: 350px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

@media screen and (max-width: 740px)
{
  .main-content
  {
    width: 100%;
    float: none;
  }
  .bar
  {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 500px)
{
  img
  {
    display: none;
  }
  .bar
  {
    display: none;
  }
  .col1, .col2, .col3
  {
    float: none;
    background-color: #fff;
    width: 100%;
  }

}
.col1, .col2
{
  width: 45%;
}
.col3
{
  width: 100%
}
