body, html {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header{
  background-image: url(2.jpg);
	box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    height: 100%;
	width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-family: "Luna";
}
.
.carousel {
    overflow: hidden;
	width:100%;
}
.carousel-inner {
	width:100%;
}
.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}
h2{
	text-align: center;
}

header h1 {
    margin-top: -55px;
	color: #fff;
	font-size: 80px;
	text-shadow: 2px 2px 8px #282828;
}

header p{
	font-size: 19px;
	margin-top: -45px;
}

header * {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}


body p {
	color: black;
	text-align: center;
}

.bar
{
  width: 100%;
  float: right;
  text-align: center;
}
.box{
	background-color: #dffbef;
  font-size: 15px;
  padding: 20px;
  margin: 0 0 15px 0;
}

.navcont{
	list-style: none;
	font-weight: 300;
	width: 100%
	margin: 0 auto;
	padding: 0;
	background-color: #dffbef;
	line-height: 65px;
}

nav li{
	display: inline-block;
	margin-left: 250px;
	position: relative;
}

nav a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover{
	color: #000;
}

.navigation::after{
	content: '';
	display: table;
	clear: both;
}
.navigation{
	background-color: #dffbef;
	width:100%;
}

nav a::before{
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #444;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
}

nav a:hover::before{
	width: 100%;
}

img
{
	display: block;
  width: 350px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.row {
	position: relative;
	right: 110px;
}

