body {
  background-size: cover;
  background-color:lightblue;
}
.container {
  padding:25px;
  border-radius: 8px;
  margin-bottom: 15px;
  margin:auto;
  width:80%;
  background-color: #eeeeee;
  box-shadow: inset #3c5d5d 5px -5px 6px, inset #ffffff -5px 5px 6px, #333333 -5px 5px 6px;


textarea {
  height: 50px;
  width:60%;
}
}
.reservation {
  margin-bottom: 10px;
  display: inline-block;
  background-color: #eeeeee;
  padding:5px;
  border-radius: 5px;
  margin: auto;
  width:80%;
}
h1
{
  text-align: center;
}

.submit
{
  width: initial;
  position: initial;
}
